.header__search{
  width: calc(100% - 36px);
  display: block;
  border: 0;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  padding: 8px 15px;
  border: 3px solid #f1f3f4;
}
.articles{
  margin: 20px 20px;
}
.article{
  margin: 0 0 10px 0;
}
.article__link{
  font-size: 18px;
}